[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wtfrit-storage-schema = {path = "./../wtfrit_storage_schema"}
spacy = "*"

[dev-packages]

[requires]
python_version = "3.7"
